html, body {
    height: 100%;
}

@font-face {
    font-family: "custom";
    src: url("TinyUnicode.ttf")
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "custom", sans-serif;
    flex-direction: column;
    background-image: url('Goh_Slowpoke.webp');
}

.wrapper {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 625px;
    min-height: 830px;
    background-color: #daa6dbd4;
    border-radius: 5%;
}

.display {
    background-color: rgb(218, 200, 218);
    width: 100%;
    max-width: 495px;
    min-width: 535px;
    min-height: 160px;
    max-height: 160px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    border: inset #ff002d57 3px;
    border-radius: 5px;
    font-size: 48px;
}


.buttons {
    display: flex;
    min-width: 620px;
    justify-content: space-evenly;
}

.operands {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    max-height: 460px;
    margin-top: 25px;
}

.numbers {
    display: flex;
    min-width: 300px;
    min-height: 115px;
    justify-content: space-evenly;
}

.numbers div {
    display: flex;
    min-width: 100px;
    min-height: 100px;
    background-color: #8cf3ee;
    margin-top: 10px;
    border-radius: 15%;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    align-self: center;
    box-shadow: 1px 5px 5px;
    border: solid black 1px;
}

.operators {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 100px;
    min-height: 532px;
    margin-top: 25px;
}

.operators div {
    display: flex;
    min-width: 135px;
    min-height: 135px;
    background-color: #f38c91;
    border-radius: 15%;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    box-shadow: 1px 5px 5px;
    border: solid black 1px;
}

#zero {
    display: flex;
    min-width: 135px;
    min-height: 135px;
    background-color: #8cf3eea3;
    border-radius: 15%;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    align-self: center;
    box-shadow: 1px 5px 5px;
    border: solid black 1px;
}

#press {
    background-color: #49a9a4a3;
}

#pressope {
    background-color: #b37275b8;
}

.footer {
    position: fixed;
    bottom: 0;
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    font-size: 18px;
}

.footer p {
    margin: 0;
}